<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="is_building_materials" connectionString="server=%;user=user;database=is_building_materials;password=;CharSet=utf8;" providerName="MySql.Data"/>
	</connectionStrings>
</configuration>